<!DOCTYPE html>
<html lang="en-us">

  {% include JB/setup %}

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

<a title="Real Time Web Analytics" href="http://clicky.com/100859204"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100859204); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100859204ns.gif" /></p></noscript>
  </body>
</html>
